body {
	box-sizing: border-box;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	background-color: hsl(243, 36%, 25%);
	color: hsl(0deg, 0%, 100%);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	/* position: fixed;
	top: 0; */
	background-color: hsl(244, 38%, 16%);
	box-shadow: 0 0 0.625rem 0.0625rem rgb(18 20 23 / 25%);
}

.menu a {
	padding: 0px 20px;
	text-decoration: none;
	color: hsl(0deg, 0%, 100%);
}

.menu a:hover {
	color: hsl(277, 64%, 61%);
	transition: 0.5s;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0px 50px;
}

.users {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.user {
	width: 400px;
	height: 300px;
	background-color: hsl(244, 38%, 16%);
	box-shadow: 0 0 0.625rem 0.0625rem rgb(18 20 23 / 25%);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 0px;
	animation-name: move;
	animation-duration: 4s;
}

@keyframes move {
	from {
		margin: 40px 0px;
	}
	to {
		margin: 20px 0px;
	}
}
.user a {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(277, 64%, 61%);
	box-shadow: 0 0 0.625rem 0.0625rem rgba(199, 131, 235, 0.25);
	border-radius: 16px;
	width: 300px;
	height: 50px;
	text-decoration: none;
	color: hsl(0deg, 0%, 100%);
}

.user a:hover {
	background-color: hsl(0deg, 0%, 100%);
	color: hsl(277, 64%, 61%);
	transition: 0.5s;
}

.detail {
	width: 400px;
	height: 400px;
	background-color: hsl(244, 38%, 16%);
	box-shadow: 0 0 0.625rem 0.0625rem rgb(18 20 23 / 25%);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 0px;
}

.detail p:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(277, 64%, 61%);
	box-shadow: 0 0 0.625rem 0.0625rem rgba(199, 131, 235, 0.25);
	border-radius: 16px;
	width: 200px;
	height: 50px;
	text-decoration: none;
	font-weight: bold;
	color: hsl(0deg, 0%, 100%);
}

.form {
	width: 400px;
	height: 500px;
	background-color: hsl(244, 38%, 16%);
	box-shadow: 0 0 0.625rem 0.0625rem rgb(18 20 23 / 25%);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 0px;
	gap: 10px;
	transition: 1s;
}

.form:hover {
	width: 425px;
	box-shadow: 0 0 0.625rem 0.0625rem rgba(195, 0, 255, 0.408);
}
.form h2 {
	margin: 0px 0px 10px;
	width: 100%;
	height: 50px;
	padding-top: 10px;
	text-align: center;
	background-color: hsl(243, 36%, 25%);
	color: white;
	box-shadow: 0 0 0.625rem 0.0625rem rgba(25, 16, 30, 0.25);
}

.form label {
	font-weight: bold;
}

input {
	box-sizing: border-box;
	height: 20px;
	width: 300px;
	padding: 20px 20px;
	text-align: center;
	font-size: 16px;
	background-color: hsl(0, 0%, 99%);
	box-shadow: 0 0 0.625rem 0.0625rem rgba(164, 4, 251, 0.25);
	border-radius: 10px;
}

.submit {
	padding: 0px;
	border: 0px;
	margin-top: 20px;
	font-weight: bold;
	background-color: hsl(277, 64%, 61%);
	box-shadow: 0 0 0.625rem 0.0625rem rgba(199, 131, 235, 0.25);
	border-radius: 16px;
	width: 300px;
	height: 50px;
	color: hsl(0deg, 0%, 100%);
}

.submit:hover {
	background-color: hsl(0deg, 0%, 100%);
	color: hsl(277, 64%, 61%);
	transition: 0.5s;
}

.newUser {
	width: 400px;
	height: 300px;
	background-color: hsl(244, 38%, 16%);
	box-shadow: 0 0 0.625rem 0.0625rem rgb(18 20 23 / 25%);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 0px;
}

.newUser h3 {
	padding-top: 10px;
	text-align: center;
	background-color: hsl(277, 64%, 61%);
	box-shadow: 0 0 0.625rem 0.0625rem rgba(199, 131, 235, 0.25);
	border-radius: 16px;
	width: 200px;
	height: 50px;
	font-weight: bold;
	color: hsl(0deg, 0%, 100%);
}

.newUser h3:hover {
	background-color: hsl(0deg, 0%, 100%);
	color: hsl(277, 64%, 61%);
	transition: 0.5s;
}
